
<header class="site-header">
  <div class="wrapper">
    <div class="trigger">
    <nav class="site-nav">
      <div class="inner-sec">
      <li><a class="active" href="/home/">Home</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/writing/">Writing</a></li>
      <li><a href="/photoportfolio/">Photoportfolio</a></li>
    </div>
        <!-- {{ site.title }} instead of blog 
        <a class="page-link" href="{{ site.baseurl }}/">Blog</a>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
-->
      
      </nav>
    </div>
  </div>
</header>

