/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

// fonts english
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('/fonts/AvenirLTStd-Heavy.woff') format('woff'),
        url('/fonts/AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('/fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('/fonts/AvenirLTStd-Book.woff') format('woff'),
        url('/fonts/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

//josefin sans
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('/fonts/JosefinSans-Regular.woff') format('woff'),
        url('/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Medium.woff2') format('woff2'),
        url('/fonts/JosefinSans-Medium.woff') format('woff'),
        url('/fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('/fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('/fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('/fonts/JosefinSans-Bold.woff') format('woff'),
        url('/fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

// fonts korean
@font-face {
    font-family: 'NotoSansKR';
    src: url('/fonts/NotoSansKR-Regular-Alphabetic.woff2') format('woff2'),
        url('/fonts/NotoSansKR-Regular-Alphabetic.woff') format('woff'),
        url('/fonts/NotoSansKR-Regular-Alphabetic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}
@font-face {
    font-family: 'NotoSansKR';
    src: url('/fonts/NotoSansKR-Medium-Alphabetic.woff2') format('woff2'),
        url('/fonts/NotoSansKR-Medium-Alphabetic.woff') format('woff'),
        url('/fonts/NotoSansKR-Medium-Alphabetic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}
@font-face {
    font-family: 'NotoSansKR';
    src: url('/fonts/NotoSansKR-Bold-Alphabetic.woff2') format('woff2'),
        url('/fonts/NotoSansKR-Bold-Alphabetic.woff') format('woff'),
        url('/fonts/NotoSansKR-Bold-Alphabetic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: 'SourceCodePro';
    src:         url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/** Variables **********************************************/
$base-font-family:              'Avenir', 'NotoSansKR', sans-serif;
$base-line-height:              1.7em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         24px;
$nav-height:                    56px;

/* portfolio tinkering */
$img_spacing: 5px; 
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* COLORS  */
$red:  #FF3636;
$orange: #f28705;
$blue: #001aff;
$green: #00ff00;
$lime_green: #8ed51c;
$purple: #B509AC;
$black: #030303;



$grey-color-40: #a0a0a0;   /* footer, 상단 menu */
$grey-color-20: #B5b5b5;
$grey-color-10: #ddd;  /* navigation bar border */
$text-color:     #555555;
$title-color:     #3c3c3c;

/* Set theme color *************************/
$theme-color:   #3C91E6;


/************************************************************/

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $vertical-spacing-unit / 2;
}

.alignright {
    float: right;
}


hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3 {
    font-family: "JosefinSans", sans-serif;
    font-weight: 600;
    color: $title-color;
}
h4, h5, h6 {
    font-family: $base-font-family;
    font-weight: 600;
    color: $title-color;
}

/**
 * Links
 */
a {
    color: $title-color;
    text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%); 
    }
    */
    &:hover {
        color: #030303;
        // text-decoration: solid underline $theme-color 1px;
    }
    

}

article a {
    color: $title-color;
    font-weight: 400;
    text-decoration: solid underline $theme-color 1px;
    text-underline-position: under;

    &:hover {
        color: $theme-color;
        text-decoration: solid underline $theme-color 1px;
        text-underline-position: under;
    }
}


/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-10;
    padding-left: $horizontal-spacing-unit / 2;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-family: "SourceCodePro", monospace;
    font-size: 14px;
    border-radius: 3px;
    background-color: #272822;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
  &::-webkit-scrollbar { 
    display: none !important; // 윈도우 크롬 등
  }

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */ 

.wrapper {
    max-width: -webkit-calc(1100px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(1100px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(1100px - (#{$horizontal-spacing-unit}));
        max-width:         calc(1100px - (#{$horizontal-spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


.post_wrapper {
    max-width: -webkit-calc(940px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(940px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(940px - (#{$horizontal-spacing-unit}));
        max-width:         calc(940px - (#{$horizontal-spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



