/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

// fonts english
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold_1.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBold_1.woff') format('woff'),
        url('/fonts/Montserrat-SemiBold_1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular_1.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular_1.woff') format('woff'),
        url('/fonts/Montserrat-Regular_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Light_1.woff2') format('woff2'),
        url('/fonts/Montserrat-Light_1.woff') format('woff'),
        url('/fonts/Montserrat-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// fonts korean
@font-face {
    font-family: 'Arita';
    src: url('/fonts/Arita-dotum-Light_OTF00_1.woff2') format('woff2'),
        url('/fonts/Arita-dotum-Light_OTF00_1.woff') format('woff'),
        url('/fonts/Arita-dotum-Light_OTF00_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}
@font-face {
    font-family: 'Arita';
    src: url('/fonts/Arita-dotum-Medium_OTF00_1.woff2') format('woff2'),
        url('/fonts/Arita-dotum-Medium_OTF00_1.woff') format('woff'),
        url('/fonts/Arita-dotum-Medium_OTF00_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}
@font-face {
    font-family: 'Arita';
    src: url('/fonts/Arita-dotum-SemiBold_OTF00_1.woff2') format('woff2'),
        url('/fonts/Arita-dotum-SemiBold_OTF00_1.woff') format('woff'),
        url('/fonts/Arita-dotum-SemiBold_OTF00_1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}

/** Variables **********************************************/
$base-font-family:              'Montserrat', 'Arita', sans-serif;
$base-line-height:              1.7em;
$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         25px;
$nav-height:                    56px;

/* portfolio tinkering */
$img_spacing: 5px; 
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

/* COLORS  */
$red:  #FF3636;
$orange: #F29105;
$blue: #001aff;
$green: #00ff00;
$lime_green: #B7D12A;
$purple: #B509AC;
$black: #030303;



$grey-color-dark: #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */
$text-color:     #0f0f11;
$title-color:     #0f0f11;

/* Set theme color *************************/
$theme-color:   $text-color;


/************************************************************/

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 500;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $vertical-spacing-unit / 2;
}

.alignright {
    float: right;
}


hr{
    /* Inset, by Dan Eden */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: $title-color;
}
h4, h5, h6 {
    font-family: $base-font-family;
    font-weight: 600;
    color: $title-color;
}

/**
 * Links
 */
a {
    color: $title-color;
    text-decoration: none;
    /*
    &:visited {
        color: darken($brand-color, 15%); 
    }
    */
    &:hover {
        color: $green;
        // text-decoration: solid underline $green 2px;
    }
}

article a {
    color: $title-color;
    font-weight: 400;
    text-decoration: solid underline $green 2px;
    text-underline-position: under;

    &:hover {
        color: $green;
        text-decoration: solid underline $green 2px;
        text-underline-position: under;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-light;
    padding-left: $horizontal-spacing-unit / 2;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $grey-color-light;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */ 

.wrapper {
    max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit}));
        max-width:         calc(800px - (#{$horizontal-spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



