
/**
 * Site header   **********************************************************
 */
.site-header {
border-bottom: 1px solid $grey-color-10;
background-color: #fff;
opacity: 0.75;
position: fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
}


.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}

.site-nav {
    div {
        height: 57px;
        margin-top: auto;
    }
    li {
        list-style: none;
        float: left;
        margin-right: 0px;
        margin-top: 0px;
        a {
            line-height: 57px;
            padding: 0px 20px;
            display: block;
        }
    }
line-height: $nav-height;

}

.header-bar{
    font-weight : 700;
    letter-spacing: -0.5px;
    line-height: 1.6;
    margin-bottom: 60px;
    @include media-query($on-laptop) {
    font-size: 32px;
    margin-bottom: 36px;
        }
    h1{
        color: $title-color;
        font-size: 38px;
        font-weight: 800;
    }
    h2{
        font-family: "Avenir", "NotoSansKr", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: $grey-color-40;
    }
}

/**
 * Site footer  **********************************************************
 */
.site-footer {
border-top: 1px solid $grey-color-40;
font-size: 10px;
background-color: $grey-color-40;
padding: 2px;
color: #aaa;
position:fixed;
left:0px;
bottom:0px;
width:100%;
}

.site-footer p {
    margin-bottom: 0; // Remove margin set in _sass/_base.scss for vertical rythm
}



.page-header{
    font-weight : 700;
    letter-spacing: -0.5px;
    line-height: 1.6;
    margin-bottom: 60px;
    @include media-query($on-laptop) {
    font-size: 32px;
    margin-bottom: 36px;
        }
    h1{
        color: $title-color;
        font-size: 38px;
        font-weight: 800;
    }
    h2{
        font-family: "Avenir", "NotoSansKr", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: $grey-color-40;
    }
}

/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}
/**
 * Page content   **********************************************************
 */
.page-content {
padding: 120px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
h2 {
    margin-bottom: 4px;
}
margin: 0px 0;
list-style: none;
    > li {
        margin-top: 24px;
            > div {
                margin-bottom: 20px;
            }
margin-bottom: 0apx;
    }
}
.contacticon {
font-size: 60px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}


/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit*1.5;
}
.post-title {
    color: $title-color;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.6;
    margin-bottom: 12px;
    @include media-query($on-laptop) {
    font-size: 32px;
    margin-bottom: 12px;
        }
}

.post-content {
h2 {
font-size: 26px;
margin-bottom: 7px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 22px;
margin-bottom: 20px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 18px;
margin-top: 18px;
margin-bottom: 6px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
h5 {
    font-size: 16px;
    margin-bottom: 6px;
    @include media-query($on-laptop) {
    font-size: 18px;
            }
        }
}
.post-meta {
font-size: 12px;
margin-bottom: 0px; 
}
.post-link {
display: block;
font-size: 42px;
}

/** Poem formatting ********************************************/
.poem-title {
font-size: 24px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 16px;
    }
}


/** 
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 33.33%;
height: 250px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
}
.thumbnail{
width: 100%;
height: 230px;
overflow: hidden;
}
.thumbnail img{
width: 500px;
height: auto;
position: relative;
left: -25%;
top: -5%;
}
.thumbnail a{
float: left;
position: relative;
width: 100%;
height: 230px;
}
.thumbnail a span {
display: none;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.4);
color: $grey-color-10;
padding: 40px;
text-align: center;
}
.thumbnail a:hover span {
display: block;
}
/** 
 * Portfolio pages **********************************************************
*/
.blankbox{
background: $theme-color;
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.col{ 
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}
