/**
home layouts
*/

.container {
    overflow: hidden;
    width: auto;
    margin-bottom: 34px;
    margin-top: 32px;
}
.company-name {
    float: left;
    width: 180px;
    margin-right: 70px;

    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: $grey-color-80;
    letter-spacing: 0.01em ;
}
.company-description{
    float: left;
    font-size: 16px;
  width: 500px;
  @media (max-width: 520px) {
    float: left;
    width: auto;
}
}

.company-time {
    font-size: 13px;
    color: $grey-color-40;
}

.home-subtitle {
    color: $theme-color;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 13px;
}

.emoji-home-subtitle {
    font-size: 20px;
}

.home-profile {
    float: right;
    width: auto;
    margin-top: 20px;
    
    font-size: 14px;
    font-weight: 300;
    text-align: center;

    @media (max-width: 862px) {
        float: left;
        width: auto;
    }
    @media (max-width: 530px) {
        text-align: center;
        width: 100%;
        margin-right: 0px;
    }

    a {
        transition: all 0.2s ease-in-out;
        color: $grey-color-40;
        &:hover {
            color: $theme-color;
        }
    
    .emoji-home-profile {
        font-size: 16px;
        margin-right: 2px;
         }
    }


}

.prof-pic {
    width: 250px;
    height: 250px;
    border: 2px solid $grey-color-10;
    border-radius: 100000px;
}

.home-text {
    float: left;
    width: 500px;
    margin-right: 60px;
    @media (max-width: 530px) {
        float: left;
        width: auto;
        margin-right: 0px;
    }
}

//home(about)

.home-title {
    font-family: $title-font-family;
    color: $title-color;
    font-size: 38px;
    font-weight: 800;
    line-height: 1.7em;
    letter-spacing: 0.003em ;
}

.home-title-ko {
    font-family: $title-font-family;
    color: $title-color;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.7em;
    letter-spacing: 0.003em ;
}

.home-description {
    font-family: $base-font-family;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.003em ;
    color: $text-color;
    margin-top: 14px;
}

.title-description {
    font-family: $base-font-family;
    font-size: 20px;
    font-weight: 400;
    color: $grey-color-50;
    margin-top: 7px;
}



/**
 * Site header   **********************************************************
 */
.site-header {
border-bottom: 1px solid $grey-color-10;
background-color: #fff;
opacity: 1;
position: fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
@media (max-width: 287px) {
    height:112px;
}
@media (max-width: 202px) {
    height:168px;
}
}


.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}

.site-nav {
    div {
        height: 57px;
        margin-top: auto;
    }
    li {
        list-style: none;
        float: left;
        margin-right: 0px;
        margin-top: 0px;
        a {
            line-height: 57px;
            padding: 0px 20px;
            display: block;
        }
    }
line-height: $nav-height;

}

.header-bar{
    font-weight : 700;
    letter-spacing: -0.5px;
    line-height: 1.6;
    margin-bottom: 60px;
    @include media-query($on-laptop) {
    font-size: 32px;
    margin-bottom: 36px;
        }
    h1{
        color: $title-color;
        font-size: 38px;
        font-weight: 700;
        line-height: 1.3em;
    }
}

/**
 * Site footer  **********************************************************
 */
.site-footer {
font-size: 12px;
padding: 2px;
color: $grey-color-40;
/* position:fixed; */
left:0px;
bottom:0px;
width:100%;
}

.site-footer p {
    margin-bottom: 0; // Remove margin set in _sass/_base.scss for vertical rythm
    text-align: center;
}



.page-header{
    font-weight : 700;
    letter-spacing: -0.5px;
    line-height: 1.6;
    margin-bottom: 0px;
    @include media-query($on-laptop) {
    font-size: 32px;
    margin-bottom: 36px;
        }
    h1{
        color: $title-color;
        font-size: 38px;
        font-weight: 800;
    }
    h2{
        font-family: $base-font-family;
        font-size: 20px;
        font-weight: 400;
        color: $grey-color-50;
    }
}

/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}

/**
 * Page content   **********************************************************
 */
.page-margin-top {
    height: 120px;
    @media (max-width: 287px) {
        height:130px;
    }
    @media (max-width: 202px) {
        height:170px;
    }
}
.page-content {
padding: 0 0 180px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
h2 {
    margin-bottom: 4px;
}
margin: 0px 0;
list-style: none;
/*
    > li {
        margin-top: 28px;
            > div {
                margin-bottom: 20px;
            }
margin-bottom: 0apx;
    }
    */
}
.contacticon {
font-size: 60px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}


/**
 * Posts  **********************************************************
 */

.post-item {
        margin-top: 28px;
        margin-bottom: 22px;
}

.post-header-image {
    margin-top: 57px;
    margin-bottom: 70px;
    min-height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.post-header {
margin-bottom: $vertical-spacing-unit*1.5;

    .post-description {
        font-family: $base-font-family;
        font-size: 20px;
        font-weight: 400;
        color: $grey-color-40;
        margin-bottom: 18px;
        }

}
.post-title {
    color: $title-color;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.6;
    margin-bottom: 12px;
    @include media-query($on-laptop) {
    font-size: 32px;
    margin-bottom: 7px;
        }
         
}


.post-content {
    
h2 {
font-size: 24px;
margin-bottom: 7px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 22px;
margin-bottom: 20px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 18px;
margin-top: 20px;
margin-bottom: 12px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
h5 {
    font-size: 16px;
    margin-bottom: 2px;
    @include media-query($on-laptop) {
    font-size: 18px;
            }
        }
figure {
    margin-bottom: 0px;
    }   

pre {
    margin-bottom: 20px;
    margin-top: -4px;
    }
}
.post-meta {
font-size: 12px;
margin-bottom: 0px; 
}
.post-link {
display: block;
font-size: 42px;
}

/** Poem formatting ********************************************/
.poem-title {
font-size: 24px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 16px;
    }
}


/** 
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 50%;
height: 400px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 0 10px 10px 0;
}
.thumbnail{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

width: 100%;
height: 100%;
overflow: hidden;


}

/*
.thumbnail img{
width: 100%;
height: auto;
position: relative;
left: -25%;
top: -5%;

} */


.thumbnail a{
float: left;
position: relative;
width: 100%;
height: 100%;
}

.thumbnail a span {
    transition: all 0.4s ease-in-out;

position: absolute;

display: block;

top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.3);
color: $white;
padding: 40px;
text-align: center;

opacity: 0;

&:hover {
    opacity: 100;
}
}

.thumbnail span{
    h1 {
        margin-top: 18px;
        color : $white;
        font-size: 30px;
    }
    p {
        margin-top: 105px;
        font-size: 16px;
    }
}


/** 
 * Portfolio pages **********************************************************
*/

/**added for list layout of portfolio*/

.post-thumnail {
    margin-bottom: 13px;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-tag {
    color: $theme-color;
    font-size: 16.5px;
    font-weight: 600;
    margin-bottom: 15px;

}

.post-container {
    h2 {
        margin-bottom: 3px;
        font-weight: 700;
        color: $grey-color-80;
    }
    .post-subtitle {
        font-size: 18px;
        font-weight: 400;
        color: $grey-color-50;
    }
    .post-previewtext {
        font-size: 15px;
        line-height: 1.5em;
        color: $grey-color-50;
        margin-top: 25px;
    }
}

.portfolio-item {
    margin-top: 44px;
    margin-bottom: 44px;
}

/**end-added for list layout of portfolio*/

.portfolio-header {
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: $vertical-spacing-unit*3;
    
        .portfolio-tag {
            font-family: $base-font-family;
            font-size: 18px;
            font-weight: 600;
            color: $theme-color;
            margin-bottom: 10px;
            margin-left: 3px;
            }
    
    }
    .portfolio-title {
        color: $title-color;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.6;
        margin-top: 26px;
        @include media-query($on-laptop) {
        font-size: 32px;
        margin-bottom: 6px;
            }

    }

.portfolio-subtitle {
    color: $grey-color-50;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px;
}

.blankbox{
background: $grey-color-10;
}
.img_row{
height: 100%;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: 10px 0px 10px 0px;
}
.col{ 
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing: border-box;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
display: inline;
width: 100%;
height: 100%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}

